.__navigation {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0 10px;

    a {
        padding: 0 12px;
        overflow: hidden;
        position: relative;
        max-width: 264px;
        min-width: 72px;
        box-sizing: border-box;
        min-height: 48px;
        text-align: center;
        flex-shrink: 0;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        white-space: normal;
        text-transform: uppercase;
        line-height: 48px;
        color: #0d47a1;
        text-decoration: none;
    }
}