.input__wrap {
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(158, 158, 158, 0.7);
    margin: 15px 10px;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        content: "\00a0";
        border-bottom: 1px solid rgba(158, 158, 158, 0.7);
        pointer-events: none;
    }
}

.__input {
    display: block;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    padding: 6px 0 7px;
    min-width: 0;
    height: 24px;
    background: none;
    box-sizing: content-box;
    text-indent: 10px;
}