@import-normalize;

body {
    overflow: hidden;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
